@font-face {
    font-family: 'chunkfive';
    src: url(fonts/chunkfive.eot);
    src: url(../fonts/chunkfive.eot#iefix) format('embedded-opentype'),
        url(../fonts/chunkfive.woff) format('woff'),
        url(../fonts/chunkfive.woff2) format('woff2'),
        url(../fonts/chunkfive.ttf) format('truetype'),
        url(../fonts/chunkfive.svg) format('svg');
    font-display: fallback;
}

@font-face {
    font-family: 'montserrat';
    src: url(fonts/montserrat-bold.eot);
    src: url(../fonts/montserrat-bold.eot#iefix) format('embedded-opentype'),
        url(../fonts/montserrat-bold.woff) format('woff'),
        url(../fonts/montserrat-bold.woff2) format('woff2'),
        url(../fonts/montserrat-bold.ttf) format('truetype'),
        url(../fonts/montserrat-bold.svg) format('svg');
    font-display: fallback;
}

@font-face {
    font-family: 'lato';
    src: url(fonts/lato.eot);
    src: url(../fonts/lato-regular.eot#iefix) format('embedded-opentype'),
        url(../fonts/lato-regular.woff) format('woff'),
        url(../fonts/lato-regular.woff2) format('woff2'),
        url(../fonts/lato-regular.ttf) format('truetype'),
        url(../fonts/lato-regular.svg) format('svg');
    font-display: fallback;
}